<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>

<form method="POST" class="platform" action="/emp">

    {% csrf_token %}
    <div class="container">

    <div class="form-group-roew">
        <label class="col-1 col-form-label" ></label>
        <div class="col-sm-4" ></div>
        <h3>Enter Details</h3>
    </div>
        <br>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Id:</label>

            <input type="text" name="eid" placeholder="id">
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Name:</label>
            <input type="text" name="ename" placeholder="Name">
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Email:</label>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Password:</label>
            <input type="password" name="password" placeholder="password">
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Contact:</label>
            <input type="text" name="contact" placeholder="contact">
        </div>
        <br>
        <br>

        <div>
            <input type="submit" class="btn btn-success">
        </div>



    </div>
</form>

</body>
</html>